.quiz{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(0.25turn, #3f87a6, #d1cece, #f69d3c);
}

.quiz__header {
    color: #fff;
    margin-left: 10px;
}

.quiz__wrapper{
    width: 600px;
    align-self: center;
}