.drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: none;
    transform: translateX(0px);
    transition: transform .22s ease-in;
    z-index: 90;
}

.drawer_close {
    transform: translateX(-300px);
}

.drawer__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.drawer__item {
    margin-bottom: 15px;
}

.drawer__link {
    color: #336666;
    font-size: 30px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: seashell;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    padding: 0 20px 10px 20px;
    transition: opacity .3s;
}

.drawer__link:hover {
    opacity: .7s;
}